[submodule "nerfstudio-gnt/GNT"]
	path = nerfstudio-gnt/GNT
	url = https://github.com/felipe-gsilva/GNT
[submodule "nerfstudio-pixel-nerf/pixelnerf"]
  path = nerfstudio-pixel-nerf/pixelnerf
  url = https://github.com/sxyu/pixel-nerf
